# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
BullAndCows/Project1/BullAndCows/BullAndCows.vcxproj.filters
BullAndCows/Project1/.vs/BullAndCows/v15/Browse.VC.db
BullAndCows/Project1/BullAndCows/BullAndCows.vcxproj
BullAndCows/Project1/BullAndCows.sln
BullAndCows/Project1/.vs/BullAndCows/v15/Browse.VC.opendb
BullAndCows/Project1/BullAndCows/Debug/BullAndCows.tlog/link.write.1.tlog
BullAndCows/Project1/BullAndCows/Debug/BullAndCows.tlog/link.read.1.tlog
BullAndCows/Project1/BullAndCows/Debug/BullAndCows.tlog/link.command.1.tlog
BullAndCows/Project1/BullAndCows/Debug/BullAndCows.tlog/CL.read.1.tlog
BullAndCows/Project1/BullAndCows/Debug/BullAndCows.tlog/BullAndCows.lastbuildstate
BullAndCows/Project1/BullAndCows/Debug/vc141.idb
BullAndCows/Project1/BullAndCows/Debug/BullAndCows.tlog/CL.command.1.tlog
BullAndCows/Project1/BullAndCows/Debug/BullAndCows.tlog/CL.write.1.tlog
